<div class="page home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2 class="page-title">
        <img class="svg" src="assets/svg/file.svg" style="width: 40px;">
        <span> Todo List App</span>
      </h2>
      </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ex. Pizza" value="Sushi" #newTodo>
          </mat-form-field>
          <button mat-flat-button color="blue" type="button" (click)="addTodo(newTodo)">Add </button>
        </form>
      </div>
    </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <mat-card appearance="outlined">
            <mat-card-content class="d-flex">
              <div class="example-container">
                <h2>To do</h2>
              
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="data.todo"
                  [cdkDropListConnectedTo]="[processingList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  @for (item of data.todo; track item) {
                    <div class="example-box" cdkDrag>
                      <img class="svg" src="assets/svg/clock.svg">
                      {{item}}</div>
                  }
                </div>
              </div>

              <div class="example-container">
                <h2>Processing</h2>
              
                <div
                  cdkDropList
                  #processingList="cdkDropList"
                  [cdkDropListData]="data.processing"
                  [cdkDropListConnectedTo]="[doneList, todoList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  @for (item of data.processing; track item) {
                    <div class="example-box" cdkDrag>
                      <img class="svg" src="assets/svg/hourglass.svg" alt="">
                      {{item}}</div>
                  }
                </div>
              </div>
              
              <div class="example-container">
                <h2>Done</h2>
              
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="data.done"
                  [cdkDropListConnectedTo]="[processingList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  @for (item of data.done; track item) {
                    <div class="example-box" cdkDrag>
                      <img class="svg" src="assets/svg/like.svg" alt="">
                      {{item}}</div>
                  }
                </div>
              </div>
              
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center mt-2">
          <small>Copyright 2025 Todo List App </small>

        </div>
      </div>
    </div>
  </div>